body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(128,128,128);
}
h1{
    font-weight: normal;
    font-size: 25px;
}
.values {
  font-size: 11px;
  fill: rgb(0, 0, 0);
  font-weight: lighter;
}
.bar:hover{
    opacity: .8;
}
.country{
    font-weight: lighter;
    font-size: 13px;
}
